<!DOCTYPE html>
<html>
  <head>
    <title>Node js</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <h1>Titel</h1>
    <p>Welcome to Node js</p>
      <%= cus_data[3].name %>

   
  </body>
</html>